<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Reversi</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>
    <table>
        <tr th:each="d:${data}">
            <td>
                <img th:if="${d == 0}" src="src/main/resoures/static/assets/green.png">
                <img th:if="${d == 10}" src="src/main/resoures/static/assets/black.png">
                <img th:if="${d == 11}" src="src/main/resoures/static/assets/white.png">
                <img th:if="${d == 20}" src="src/main/resoures/static/assets/brightgreen.png">
            </td>
        </tr>
    </table>
    <p th:text=${msg} style="text-align: right;"></p>
</body>

</html>