<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Reversi</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <Style>
        img {
            width: 90px;
            height: 90px;
        }

        table {
            border: 1px;
            border-color: black;
        }

        tr {
            border: 1px;
            border-color: black;
        }

        td {
            border: 1px;
            border-color: black;
        }
    </Style>
</head>

<body>
    <table>
        <tr th:each="d:${data}">
            <td>
                <img th:if="${d == 0}" th:src="@{/assets/green.png}">
                <img th:if="${d ==10}" th:src="@{/assets/white.png}">
                <img th:if="${d ==11}" th:src="@{/assets/black.png}">
                <img th:if="${d ==20}" th:src="@{/assets/brightgreen.png}">
            </td>
            <td>
                <img th:if="${d == 0}" th:src="@{/assets/green.png}">
                <img th:if="${d ==10}" th:src="@{/assets/white.png}">
                <img th:if="${d ==11}" th:src="@{/assets/black.png}">
                <img th:if="${d ==20}" th:src="@{/assets/brightgreen.png}">
            </td>
            <td>
                <img th:if="${d == 0}" th:src="@{/assets/green.png}">
                <img th:if="${d ==10}" th:src="@{/assets/white.png}">
                <img th:if="${d ==11}" th:src="@{/assets/black.png}">
                <img th:if="${d ==20}" th:src="@{/assets/brightgreen.png}">
            </td>
            <td>
                <img th:if="${d == 0}" th:src="@{/assets/green.png}">
                <img th:if="${d ==10}" th:src="@{/assets/white.png}">
                <img th:if="${d ==11}" th:src="@{/assets/black.png}">
                <img th:if="${d ==20}" th:src="@{/assets/brightgreen.png}">
            </td>
            <td>
                <img th:if="${d == 0}" th:src="@{/assets/green.png}">
                <img th:if="${d ==10}" th:src="@{/assets/white.png}">
                <img th:if="${d ==11}" th:src="@{/assets/black.png}">
                <img th:if="${d ==20}" th:src="@{/assets/brightgreen.png}">
            </td>
            <td>
                <img th:if="${d == 0}" th:src="@{/assets/green.png}">
                <img th:if="${d ==10}" th:src="@{/assets/white.png}">
                <img th:if="${d ==11}" th:src="@{/assets/black.png}">
                <img th:if="${d ==20}" th:src="@{/assets/brightgreen.png}">
            </td>
            <td>
                <img th:if="${d == 0}" th:src="@{/assets/green.png}">
                <img th:if="${d ==10}" th:src="@{/assets/white.png}">
                <img th:if="${d ==11}" th:src="@{/assets/black.png}">
                <img th:if="${d ==20}" th:src="@{/assets/brightgreen.png}">
            </td>
            <td>
                <img th:if="${d == 0}" th:src="@{/assets/green.png}">
                <img th:if="${d ==10}" th:src="@{/assets/white.png}">
                <img th:if="${d ==11}" th:src="@{/assets/black.png}">
                <img th:if="${d ==20}" th:src="@{/assets/brightgreen.png}">
            </td>
            <td>
                <img th:if="${d == 0}" th:src="@{/assets/green.png}">
                <img th:if="${d ==10}" th:src="@{/assets/white.png}">
                <img th:if="${d ==11}" th:src="@{/assets/black.png}">
                <img th:if="${d ==20}" th:src="@{/assets/brightgreen.png}">
            </td>
        </tr>
    </table>
    <p th:text=${msg} style="text-align: right;"></p>
</body>

</html>