<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Reversi</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <Style>
        input {
            width: 80px;
            height: 80px;
        }

        table {
            border: solid 1px black;
            border-collapse: collapse;
            table-layout: auto;
        }

        td {
            border: solid 1px black;
        }

        tr {
            border: solid 1px black;
        }

        button {
            padding: 0;
            border: none;
            background: transparent;
        }

        button img {
            display: block;
        }
    </Style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script th:src="@{/assets/index.js}"></script>
</head>

<body>
    <table>
        <tr th:each="d:${data}">
            <td>
                <input type="image" th:if="${d[1] == 0}" th:src="@{/assets/green.png}"></input>
                <input type="image" th:if="${d[1] == 10}" th:src="@{/assets/white.png}"></input>
                <input type="image" th:if="${d[1] == 11}" th:src="@{/assets/black.png}"></input>
                <input type="image" th:if="${d[1] == 20}" th:src="@{/assets/brightgreen.png}"></input>
            </td>
            <td>
                <input type="image" th:if="${d[2] == 0}" th:src="@{/assets/green.png}"></input>
                <input type="image" th:if="${d[2] == 10}" th:src="@{/assets/white.png}"></input>
                <input type="image" th:if="${d[2] == 11}" th:src="@{/assets/black.png}"></input>
                <input type="image" th:if="${d[2] == 20}" th:src="@{/assets/brightgreen.png}"></input>
            </td>
            <!-- <td>
                <input type="image" th:if="${d == 0}" th:src="@{/assets/green.png}"></input>
                <input type="image" th:if="${d == 10}" th:src="@{/assets/white.png}"></input>
                <input type="image" th:if="${d == 11}" th:src="@{/assets/black.png}"></input>
                <input type="image" th:if="${d == 20}" th:src="@{/assets/brightgreen.png}"></input>
            </td>
            <td>
                <input type="image" th:if="${d == 0}" th:src="@{/assets/green.png}"></input>
                <input type="image" th:if="${d == 10}" th:src="@{/assets/white.png}"></input>
                <input type="image" th:if="${d == 11}" th:src="@{/assets/black.png}"></input>
                <input type="image" th:if="${d == 20}" th:src="@{/assets/brightgreen.png}"></input>
            </td>
            <td>
                <input type="image" th:if="${d == 0}" th:src="@{/assets/green.png}"></input>
                <input type="image" th:if="${d == 10}" th:src="@{/assets/white.png}"></input>
                <input type="image" th:if="${d == 11}" th:src="@{/assets/black.png}"></input>
                <input type="image" th:if="${d == 20}" th:src="@{/assets/brightgreen.png}"></input>
            </td>
            <td>
                <input type="image" th:if="${d == 0}" th:src="@{/assets/green.png}"></input>
                <input type="image" th:if="${d == 10}" th:src="@{/assets/white.png}"></input>
                <input type="image" th:if="${d == 11}" th:src="@{/assets/black.png}"></input>
                <input type="image" th:if="${d == 20}" th:src="@{/assets/brightgreen.png}"></input>
            </td>
            <td>
                <input type="image" th:if="${d == 0}" th:src="@{/assets/green.png}"></input>
                <input type="image" th:if="${d == 10}" th:src="@{/assets/white.png}"></input>
                <input type="image" th:if="${d == 11}" th:src="@{/assets/black.png}"></input>
                <input type="image" th:if="${d == 20}" th:src="@{/assets/brightgreen.png}"></input>
            </td>
            <td>
                <input type="image" th:if="${d == 0}" th:src="@{/assets/green.png}"></input>
                <input type="image" th:if="${d == 10}" th:src="@{/assets/white.png}"></input>
                <input type="image" th:if="${d == 11}" th:src="@{/assets/black.png}"></input>
                <input type="image" th:if="${d == 20}" th:src="@{/assets/brightgreen.png}"></input>
            </td>
            <td>
                <input type="image" th:if="${d == 0}" th:src="@{/assets/green.png}"></input>
                <input type="image" th:if="${d == 10}" th:src="@{/assets/white.png}"></input>
                <input type="image" th:if="${d == 11}" th:src="@{/assets/black.png}"></input>
                <input type="image" th:if="${d == 20}" th:src="@{/assets/brightgreen.png}"></input>
            </td> -->
        </tr>
    </table>
    <p th:text=${msg} style="text-align: right;"></p>
</body>

</html>